@charset "utf-8";
/* CSS Document */


ul{
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
	position: fixed;
	margin-left: 0;
	padding-left: 0;
	top: 0;
    width: 100%;
}



li{
	
	float: left;
   
}

li a {
    display: block;
    color: white;
	line-height: 50px; 
    text-align: center;
    padding: 14px 35px;
	height:  50px;
    text-decoration: none;
	font-family: 'Montserrat';
	font-size: 13px;
	
	
}

.item{
	float: right;
}

.item1{
	float: right;
	padding: 12px 0px 0px;
	height: 25px;
	
}


li a:hover {
    background-color: #111;
}


* {
				margin:0px;
				padding:0px;
	
			}

body{
	background-color: #F5EAEA;
	
}

.img1{
	 
	   display: inline-block;
    text-align: center;

}

.titulop{
	position: absolute;
   left: 700px;
	top: 101px;
	width: 572px;
	font-family: 'Leelawadee UI';
	font-size: 35px;
	font-weight: normal;
	letter-spacing: 5px;
	color: white;
	
}

.container{
	position: absolute;
}