@charset "utf-8";

/* CSS Document */


ul{
	list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #041C32;
	position: fixed;
	margin-left: 0;
	padding-left: 0;
	top: 0;
    width: 100%;
	
}

body{
		width: auto;

}
li{
	
	float: left;
   
}

li a {
    display: inline-block;
    color: white;
	line-height: 50px; 
    text-align: center;
    padding: 14px 35px;
	height:  50px;
    text-decoration: none;
	font-family: 'Montserrat';
	font-size: 13px;
	
	
}

.item{
	float: right;
	
}

.item1{
	float: right;
	padding: 12px 0px 0px;
	height: 25px;

	
}


li a:hover {
    background-color: #111;
	
}


* {
				margin:0;
				padding:0;
	
			}



.contenedor{
	top: 0;
	margin: 0;
	margin-top: 80px;
	margin-right: 0;
	
}


.div1{
float: left;
	background: red;
	width: 50%;
	height: 600px;
	
}


.div2{
float: left;
	background: linear-gradient(#041C32, #24282B);
	width: 50%;
	height: 600px;
	margin: 0;
	align-content: center;
	text-align: center;

}

p{
	font-family: 'Montserrat';
	color: white;
	font-size: 19px;
	
	
}

.forms{
	padding: 20px;
	border: 0;
}

.forms1{	
	padding: 60px;
	border: 0;
}

.buttons{
	border-radius: 35px;
	width: 100px;
	height: 50px;	
	background: #FFFFFF;
	font-family: 'Montserrat';
	font-weight: bold;
	color: blue;
animation-delay: 4s;
}

.contenedor3{
float: left;
	background: linear-gradient(#041C32, #24282B);
	width: 100%;
	margin: 0;
	align-content: center;
	text-align: center;

}

.im2{
	background: red;
	height: 600px;
	max-height: 600px;
}

.cabezal{
	position: absolute;
}


.pie{
	float: left;
}

.p1{
	display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 35px;
	height:  50px;
	font-family: 'Montserrat';
	font-size: 13px;
	width: 25%
	
}

